*{
	margin: 0;
	padding: 0;
}

body{
	background-color: blanchedalmond;
	font-family: sans-serif;
	color: #59429d;
	width: 60%;
	margin: 2% auto;
}
#titulo{
	color: #380b61;
	text-align: center;
}
#subtitulo{
	color:  #380b61;
	text-align: center;
}

fieldset {
	border-radius: 10px;
	padding: 0.5em;
}
input, select, textarea, button{
	font-family: sans-serif;
	color:  #59429d;
	border-radius: 5px;
	padding: 0.25em;
	border:  1px solid #59429d;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.campo select option{
	padding: 1em;
}


.campo {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding: 0 0.8em;
}
fieldset .column{
	float:  left;
	width: 46%;
}

.check-column{
	float: left;
	width: 45%;
}
/* seletor de atributo */
/* seleciona input's do tipo "text" */
input[type="text"] , input[type="email"]{
	display: inline-block;
	width: 100%;

}
input[type="radio"]{

}
.botao{
	background-color: #59429d;
	color: #ffffff;
	font-size: 1.2em;
	padding: 0.2em 0.6em;
	border:  0;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	text-align: center;
}
/* trocar css quando mouse passar por cima */
.botao:hover{
	background-color: #ccbbff;
	text-shadow: 0;
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}

























